@{
    ViewBag.Title = "About";
    ViewBag.Message = "POWER...made with American pride.";
}

<div class="row" id="header">
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
</div>
<div class="carousel" id="usCarousel" style=margin-top>
    <p>This is the carousel</p>
</div>