@{
    ViewBag.Title = "Highlands Generators of Maine";
}
<html>
<head>
    <meta name="viewport" content="width=device-width, initial=scale=1"/>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/boostrap.min.css">
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
</head>
<body>
    <div class="jumbotron" id="carousel" style="background-color:black">
        <div class="carousel"></div>
        <div class="carousel-control-prev-icon"></div>
        <div class="carousel-control-next-icon"></div>
    </div>
    <div class="row" id="menu">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" id="btnProducts">Products</button>
        <div class="dropdown-menu" id="products-dropdown" style="color:darkblue" z-index=1>
            <div class="dropdown-item" style="background-color:red">
                <a class="dropdown-item" href="#">45KW 35CFM GenAirator</a>
            </div>
            
        </div>
    </div>
</body>
<footer>

</footer>
</html>