@{
    ViewBag.Title = "Products";
}

<h2>Products</h2>
<body>
    <div>
        <p>List of products and their descriptions</p>
        <p>ToDo:</p>
        <ul>Add Shopping Cart</ul>
        <ul>Add Sign-In Security</ul>
        <ul>Need to know Company Motto</ul>
        <ul>Need to know Company Colors</ul>
        <ul>Need parts catalogue for the Shopping Cart</ul>
        <ul>Provide service options for field and phone support</ul>
    </div>
</body>
<footer>

</footer>

